@CHARSET "TIS-620";

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: #eee;
	width: 100%;
	margin: 0;
	padding: 5px;
}


